@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'circ-book';
    src: url('../public/fonts/CircularStd-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'circ-bold';
    src: url('../public/fonts/CircularStd-Bold.ttf') format('truetype');
}

* {
    @apply text-white;
}

.header-text {
    @apply font-circ-bold text-8xl font-bold text-white;
}

.our-mission-li {
    @apply text-5xl font-circ-bold;
}