@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'circ-book';
    src: url('../public/fonts/CircularStd-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'circ-bold';
    src: url('../public/fonts/CircularStd-Bold.ttf') format('truetype');
}

* {
    @apply text-white;
}

.header-text {
    @apply font-circ-bold text-8xl font-bold text-white max-laptop:text-[4.25rem] max-mobile:text-[1rem];
}

.our-mission-li {
    @apply text-8xl font-circ-bold max-laptop:text-7xl max-mobile:text-[1rem];
}

.footer-icon {
    @apply hover:cursor-pointer hover:scale-110 transition-transform max-laptop:w-[120px] max-mobile:w-[30px] ;
}